body{
    background-color: #0d1224;
}
.con-space{
    margin-top: 100px;
    margin-bottom: 50px;   
}

.navbar{
    background-color: #201f28;}

.myshadow{
    box-shadow: 0 4px 20px rgb(64 64 64 / 80%);
    border-color: #b4b4b436 !important;
 
}
.card-guide{
    height: 420px;
}
input::placeholder, textarea::placeholder{
    color: rgba(255, 255, 255, 0.217) !important;
    font-size: 14px;
}
.contact-right{
    width: 50%;
}

/* Media query */
@media screen and (max-width: 768px) {
    .contact-right{
        width: 90%;
    }
    .contactimg_bottom{
        width: 100% !important;
    }
    .hero-left{
        text-align: center;
    }
    .con-space{
        margin-top: 70px;
        margin-bottom: 50px;   
    }
    
}

